<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WebFlux Thymeleaf</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-sm-12" style="margin: 5%">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Save Post</h5>
                <div class="card-text">
                    <form action="#" th:action="@{/posts}" method="post" th:object="${post}">
                        <div class="form-group">
                            <label th:for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
                        </div>
                        <div class="form-group">
                            <label th:for="content">Content</label>
                            <textarea class="form-control" id="content" rows="3" name="content"
                                      th:field="*{content}"></textarea>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="margin: 5%">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Post List</h5>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Create Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}">
                            <td scope="row" th:text="${post.id}"></td>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.content}"></td>
                            <td th:text="${post.createDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>